In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,19-03-21,14471.15039,14788.25000,14350.09961,14744.00000,14744.00000,919200
1,22-03-21,14736.29981,14763.90039,14597.84961,14736.40039,14736.40039,459000
2,23-03-21,14768.54981,14878.59961,14707.00000,14814.75000,14814.75000,474200
3,24-03-21,14712.45020,14752.34961,14535.00000,14549.40039,14549.40039,456400
4,25-03-21,14570.90039,14575.59961,14264.40039,14324.90039,14324.90039,606800

In [14]:
print(df['Volume'].dtype)

int64

In [17]:
# export csv files

df.head(10).to_csv('export.csv', index=False)