In [1]:
import pandas as pd

In [15]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})

In [16]:
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [17]:
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [18]:
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [19]:
#samjh nhi aaya hai vbaad me google katrna hai isko